<template>
  <div class="home">
    <h1>HOME</h1>
    <div v-if="searches.length">
      <h2>Searches</h2>
      <p v-for="s in searches" :key="s">{{ s }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      // searches: []
      searches: this.$store.state.searches
    };
  }
};
</script>
