<template>
  <div class="home">
    <h1>HOME</h1>
    <!-- <div v-if="searchesStr">
      <h2>Searches Str</h2>
      <p>{{ searchesStr }}</p>
    </div> -->
    <!-- <div v-if="searchesWithFavorites.length">
      <h2>Searches</h2>
      <p v-for="s in searchesWithFavorites" :key="s.text">
        {{ s.text }}
        {{ s.isFavorite ? '(in favorites)' : '' }}
      </p>
    </div> -->

    <div v-if="searches.length">
      <h2>Searches</h2>
      <p v-for="s in searches" :key="s.text">
        {{ s.text }}
        {{ s.isFavorite ? '(in favorites)' : '' }}
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'home',
  computed: {
    // ...mapGetters([
    //   'searchesWithFavorites',
    //   'searchesStr'
    // ]),
    ...mapGetters({
      searches: 'searchesWithFavorites',
      searchesStr: 'searchesStr'
    })
    // searchesWithFavorites () {
    //   return this.$store.getters.searchesWithFavorites;
    // },
    // searchesStr () {
    //   return this.$store.getters.searchesStr;
    // }
  }
};
</script>
