<template>
  <div>
    <h1>SERP for {{ this.$route.query.s }}</h1>
    <p v-if="isFavorite">In Favorites</p>
    <button v-else @click="addToFavorites($route.query.s)">Add to favorites</button>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
  computed: {
    isFavorite () {
      return this.isSearchFavorite()(this.$route.query.s);
    }
  },
  methods: {
    ...mapGetters(['isSearchFavorite']),
    ...mapMutations({
      addToFavorites: 'addFavoriteSearch'
    })
    // addToFavorites () {
    //   this.$store.commit('addFavoriteSearch', this.$route.query.s);
    // }
  }
};
</script>
