<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <!-- <transition name="fade"> -->

    <div class="relative">
      <transition name="slide">
        <router-view class="absolute w-full"/>
      </transition>
    </div>
  </div>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}

.fade-enter {opacity: 0}
.fade-enter-to {opacity: 1}

.fade-leave { opacity: 1}
.fade-leave-to {opacity: 0}

.slide-enter-active,
.slide-leave-active {
  transition: transform 2s;
}

.slide-enter {transform: translateX(-100%)}
.slide-enter-to {transform: translateX(0)}

.slide-leave { transform: translateX(0)}
.slide-leave-to {transform: translateX(100%)}
</style>
