<template>
  <div class="home">
    <h1>HOME</h1>
    <!-- <div v-if="searchesStr">
      <h2>Searches Str</h2>
      <p>{{ searchesStr }}</p>
    </div> -->
    <div v-if="searches.length">
      <h2>Searches</h2>
      <p v-for="s in searches" :key="s">{{ s }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  computed: {
    searches () {
      return this.$store.state.searches;
    },
    searchesStr () {
      // return this.searches.join(', ');
      // return this.$store.state.searches.join(', ');
      return this.$store.getters.searchesStr;
    }
  }
};
</script>
