<template>
  <div>
    <h1>SERP for {{ this.$route.query.s }}</h1>
    <p v-if="isFavorite">In Favorites</p>
    <button v-else @click="addToFavorites">Add to favorites</button>
  </div>
</template>
<script>
export default {
  computed: {
    isFavorite () {
      return this.$store.getters.isFavorite(this.$route.query.s);
    }
  },
  methods: {
    addToFavorites () {
      this.$store.commit('addFavoriteSearch', this.$route.query.s);
    }
  }
};
</script>
