<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>
<script>
export default {
  created () {
    console.log('CREATED');
  },
  beforeRouteEnter (to, from, next) {
        console.log('About in comp. guard');

    next()
  },
  beforeRouteLeave (to, from, next) {
    const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
    if (answer) {
      next()
    } else {
      next(false)
    }

  }
}
</script>
