<template>
  <div >
    <h1>Subpage {{$route.params.subpage}}</h1>
  </div>
</template>
<script>
export default {
  beforeRouteUpdate (to, from, next) {
    console.log('beforeRouteUpdate');
    next();
  }
}
</script>
