<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
    </div>
    <form @submit.prevent="submit">
      <input v-model="search" type="text">
    </form>
    <!-- <div>
      <h2>Searches</h2>
      <p v-for="s in searches" :key="s">{{ s }}</p>
    </div> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      searches: []
    };
  },
  methods: {
    submit () {
      if (this.search) {
        this.$store.dispatch('addSearch', this.search);
        this.$router.push({ name: 'serp', query: { s: this.search } });
      }
    }
  }
};
</script>
