<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <!-- <transition name="fade"> -->

    <div class="relative">
        <router-view class="absolute w-full"/>
    </div>
  </div>
</template>

<style>
/* .slide-r-enter-active,
.slide-r-leave-active,
.slide-l-enter-active,
.slide-l-leave-active
 {
  transition: transform 2s linear;
} */

.transform-2s {
  transition: transform 2s linear;
}

.slide-r-enter {transform: translateX(100%)}
.slide-r-enter-to {transform: translateX(0)}

.slide-r-leave { transform: translateX(0)}
.slide-r-leave-to {transform: translateX(100%)}

.slide-l-enter {transform: translateX(-100%)}
.slide-l-enter-to {transform: translateX(0)}

.slide-l-leave { transform: translateX(0)}
.slide-l-leave-to {transform: translateX(-100%)}
</style>
