<template>
<transition name="slide-r" appear
  enter-active-class="transform-2s"
  leave-active-class="transform-2s"
>
  <div class="bg-blue">
    <h1>This is an about page</h1>
  </div>
</transition>
</template>
<script>
export default {
  created () {
    console.log('111');
  }
}
</script>
