<template>
<transition name="slide-l" appear
  enter-active-class="transform-2s"
  leave-active-class="transform-2s"
>
  <div class="bg-red">
    <h1>HOME</h1>
  </div>
</transition>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
}
</script>
